.card-login {
  max-width: 500px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.icon {
  padding: 0 10px;
}

.group-login {
  padding: 10px 10px;
}

a {
  color: #fff;
}
