.card-register {
  max-width: 500px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.icon {
  padding: 0 10px;
}

/* ion-card {
  height: 100%;
  /* margin: 15px;
} */
