/* .card-register {
  max-width: 500px;
  width: 500px;
  margin: auto;
}

img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.icon {
  padding: 0 10px;
}
/* 
.ion-padding {
  padding: 200px;
} */

.card-register {
  max-width: 500px;
  margin: 0 auto;
}
